/jumpln-app-backend-java-spring/src/main/resources/application.properties
/jumpln-app-backend-java-spring/src/main/resources
/jumpln-app-backend-java-spring/.gradle
/jumpln-app-backend-java-spring/.gradle
**/.gradle/
**/mysql_data/
mysql_data/

# IDE configurations
.vscode/
.idea/

# Environment variables
.env
.env.*
# Frontend dependencies & build
**/node_modules/
node_modules/
**/dist/
dist/
